body {
    margin: 0px;
    background-color: black;
}

div {
    color:chartreuse;
    font-family: Stencil;
}

#bigger {
    background-color:chartreuse;
    border: none;
    border-radius: 4px;
}
#smaller {
    background-color:chartreuse;
    border: none;
    border-radius: 4px;
}
#changeColor {
    background-color:chartreuse;
    border: none;
    border-radius: 4px;
}
#changeType {
    background-color:chartreuse;
    border: none;
    border-radius: 4px;
}

#container {
    text-align: center;
    font-size: 60px;
    margin: 90px;
}

#time {
    display: flex;
    justify-content: center;
}

#bigdate {
    display: flex;
    justify-content: center;
}
