#music_selector {
    width: 3.5vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 5%;
}
.previous{
    transform: rotate(180deg);
    width: 5vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-image: url("/pictures/next.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.next_song{
    width: 5vw;
    aspect-ratio: 1/1;
    background-image: url("/pictures/next.png");
    cursor: pointer;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
.music_on{
    background-image: url("/pictures/music_icon.jpg");
}
.music_off {
    background-image: url("/pictures/music_off.jpg");
}
.icons{
    background-color: rgba(99, 61, 96, 0.5);
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 20px rgba(99, 61, 96, 1);
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}
.songName{
    transition: 1s;
    flex: 2 1 10vh 10vw;
    align-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vh;
    color:rgba(255, 255, 255, 0.5)
}