*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


html, body{
    height: 100%;
}

html, header, body, footer{min-width: 750px;}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input{
    font-family: inherit;
}

footer{
    flex-shrink: 0;
}

header, footer{
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #010101;
    color: #f7f7f7;
    font-size: 20px;
    font-weight: 600;
}

#theme{
    display: inherit;
}

#theme > *{
    height: 30px;
    padding: 0 5px;
}

#theme #toggleBtn{
    width: 50px;
}

a{
    color: inherit;
}

a:hover{
    color: #7f7f7f;
}

#controls{
    width: 75%;
    display: inline-flex;
    justify-content: space-around;
}
#controls>*{
    font-size: 15px;
    border: 5px solid gold;
    border-radius: 5px;
    border-bottom: 0px;
    width: 120px;
    background-color: gold;
    color: #010101;
}

#controls input[type=color]{
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    border-radius: 10px;
}

#clock {
    width: 75%;
    height: 60%;
    border: 10px solid gold;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}

#clock>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

